*{
    box-sizing: border-box;
}

.main{
    display: flex;
    justify-content: space-between;
    color: #000;
    background-color: aqua;
    font-size: 40px;
    padding: 10px;
    margin-bottom: 0;
}

.btn{
    border: 1px solid #fff;
    border-radius: 4px;
    margin: 5px;
    padding: 10px;
    color: #000;
    background-color: aqua;
}

.hidden{
    display: none;
}

.medium{
    font-size: 20px;
}

input{
    margin: 5px;
    border-radius: 5px;
}

.heading{
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: #000;
    
}

.heading h2:nth-child(3){
    background-color: aqua;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
}

.filters{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
    color: #000;
    background-color: aqua;
}

.add{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    font-weight: bold;
    color: #000;
    background-color: yellow;
    padding: 15px;
}

li{
    list-style: none;
}





